body, html { 
  margin: 0;
  padding: 0;

}


header {
  width: 100%;
  height: 60px;
  margin: 0;
  overflow: hidden;
}

.header_left_div {
  background-color:#EEEEEE;
  width: 955px;
  height: 59px;
  border: 0.5px solid #DBDBDB;
  display: inline-block;


}

.header_left_div ul {
  list-style: none;
  margin-top: 11px;
  margin-left: -5px;
}

.header_left_div ul li {
  float: left;
  padding: 5px 35px 5px 0px;
}

.header_left_div i  {
  margin-top: 4px;
  font-weight: 600;
  color: gray;
  font-size: 17px;
}

.header_left_div i, .attach_button input:hover {
  cursor: pointer;
}

li .attach_button {
  position: relative;
  top: 0;
  width: 20px;
  height: 25px;
 overflow: hidden;
}

li .attach_button input {
  position: absolute;
  top: -50px;
  width:100px;
  height: 100px;
  outline: none;
}

.header_right_profile {
  float: right;
  position: relative;
  right: 16px;
  top: -7px;
  text-align: right;
  width: 200px;  
}

.header_right_profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;

}
.header_right_profile p{
display: inline;
color: #606060;
font-size: 15px;
font-weight: 500;
position: absolute;
right: 55px;
top: -3px;
font-family:  Arial, sans-serif;
}

.header_right_div {
  width: 410px;
  height: 59.5px;
  float: right;
  background-color: #EEEEEE;
}
.header_right_div ul {
  list-style: none;
  position: absolute;
  top: 5px;
  right: 245px;
}

.header_right_div ul li {
  float:left;
  padding: 0px 16px;
  color: gray;
  font-size: 19px;
}

.header_right_div ul li:hover {
  cursor: pointer;
}
.header_right_div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline;
  position: absolute;
  right: 16px;
  top: 10px;
}

.green {
  position: absolute;
  top: 3px;
  margin-left: 1px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: green;
}

main {
  display: inline-block ;
  float: left;
  overflow: hidden;
  width: 70%;
  border-right: 1px solid #EFEFEF;
  box-sizing: border-box;
}

main img {
  width: 956px;
  height: 505px;
  margin: 0;
  opacity: .5;
  position: relative;
  z-index: 1;
}

 .chat_text {
  padding: 5px 10px;
  line-height: 19px;
  text-align: right;
  min-width: 280px;
  max-width: 300px;
  border-radius: 10px;
  background-color: white;
  position: absolute; 
  top: 100px;
  left: 530px; 
  word-wrap: break-word;
  z-index: 3;
  direction: rtl;
}

.chat_text  p {
  font-size: 14.2px;
  font-weight: 400;
}

.chat_text::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 0;
  border: 10px solid transparent;
  border-top: 15px solid white;
  border-left: 15px solid white;
}

.chat_text_2 {
  padding: 5px 10px;
  line-height: 19px;
  border-radius: 10px;
  background-color: #DCF8C6;
  position: absolute;
  left: 100px;
  top: 290px;
  z-index: 3;
  border: .3px solid #CDC6BF;
  word-wrap: break-word;
  text-align: left;
  max-width: 300px;
  min-width: 100px;
}

.chat_text_2 p {
  font-size: 14.2px;
  font-weight: 400;
}

.chat_text_2::after {
  content: "";
border: 15px solid transparent;
border-top: 15px solid #DCF8C6; 
border-right: 15px solid  #DCF8C6;
position: absolute;
left: -7px;
top: 0;
}

.chat_text_3 {
  padding: 5px 10px;
  line-height: 19px;
  word-wrap: break-word;
  text-align: left;
  max-width: 300px;
  min-width: 100px;
  border-radius: 10px;
  background-color: #DCF8C6;
  position: absolute;
  top: 430px;
  left: 100px;
  border: .3px solid #CDC6BF;
  z-index: 4;
}

.chat_text_3 p {
  font-size: 14.2px;
  font-weight: 400;
}


.chat_text_3::after {
  content: "";
border: 15px solid transparent;
border-top: 15px solid #DCF8C6; 
border-right: 15px solid  #DCF8C6;
position: absolute;
left: -7px;
top: 0;
z-index: 1;
}

.main-text-input {
    border: 0.5px solid #DBDBDB;
  }
  

.main-text-input i {
  font-size: 21px;
  margin-top:10px;
  color: #949A9C; 
}

main .main-text-input {
  width: 956px;
  height: 60px;
  margin-top: -3.6px;
  overflow: hidden;
  background-color:#EFEFEF;
  position: relative
}

main .main-text-input ul {
  list-style: none;
  margin: 0;
}

main .main-text-input ul li {
  float: left;
  overflow: hidden;
}

.mic {
  position: absolute;
  top: 11px;
  left: 23px;
}
.smile {
  position: absolute;
  top: 11px;
  right: 23px;
}

.smile i {
  font-size: 24px;
}


main .main-text-input ul li input {
  width: 810px;
  height: 42px;
  border: none;
  direction: rtl;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #C5C5C5;
  padding-right: 12px;
  position: absolute;
  top: 10px;
  left: 65px;
}

aside {
  width: 30%;
  margin: 0;
  height: 100%;
  float: right;
  overflow: hidden;
}

aside .search-box {
  z-index: 1;
  background-color: #FBFBFB;
  padding: 2px 11px;
  border-bottom: 1px solid #EBEBEB;
}

.search-box input {
  z-index: 2;
  width: 382px;
  height: 35px;
  border-radius: 6px;
  border: 0.5px  solid #F6F6F6;
  padding-right: 46px;
  font-stretch: extra-expanded;
  font-weight: 400;
  font-size: 14px;
  margin: 5px 5px;
  text-align: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  outline: none;
}

.search-box input::placeholder {
color: #B9B9B9;
}

aside i {
  position: absolute;
  right: 30px;
  top: 77px;
  color: gray;
  font-weight: 100;
  font-size: 13px;
  color: #B9B9B9;
}

aside ul {
  list-style: none;
}

aside ul li {
   height: 54px;
   width: 370px;
   margin-bottom: 17px;
  }

aside ul li img {
  width: 13px;
  height: 13px;
}

.chat {
  position: relative;
  top: 0;
}


.time {
  float: left;
  font-size: 11px;
  margin-left: -15px;
  color: #8A9094;
}

.right-sec-chat {
  float: right;
  margin: 0;
}
.right-sec-chat p {
  margin: -3px 10px 5px 0px;
}
.prof-img {
  width: 50px;
  height: 50px;
  float: right;
  margin: -8px 10px 0px 0px;
}

.hello,.img2 {
  display: inline-block; 
  color: #929393
}

.img2 {
  margin-left: -10px;
}

.username {
  font-size: 18px;
}

.two_checks_chat {
  margin: 0;
  position: absolute;
  right: 93px;
  top: 22px;
}

.two_checks_chat .chat_check1,.chat_check2 {
  width: 1.5px;
  height: 10px;
  margin-right: -1.5px;
  border-right: 1.5px solid #4FC3F7;
  border-bottom: 1.5px solid #4FC3F7;
  display: inline-block;
  transform: rotate(30deg);
}

.two_checks_chat .chat_check1 {
  width: 3px;
}

.border_line {
  width: 330px;
  height: 0.5px;
  background-color: #F4F5F5;
  position: absolute;
  top: 54px;
  left: -34px;
}

.chat_text {
  postion: relative;
  width: 80px;
  height: 50px;
  line-break: unset;
}

.time_main_chat{
  position: absolute;
  left: 3px;
  bottom: 3px;
  font-size: 10px;
  color: #BABABA;
}

.two_checks {
  margin: 0;
  position: absolute;
  left: 47px;
  bottom: 1px;
}

.two_checks .check1,.check2 {
  width: 1.5px;
  height: 10px;
  margin-right: -1.5px;
  border-right: 1.5px solid #4FC3F7;
  border-bottom: 1.5px solid #4FC3F7;
  display: inline-block;
  transform: rotate(30deg)
}

.two_checks .check1 {
  width: 3px;
}
